# dependencies
/data
/node-modules
/.pnp
.pnp.js

#testing
/coverage

# production
/build
˚
# misc
.DS_Store
.env
.env.local
.env.development.local
env.test.local
env.production.local

npm-debug.log*
node_modules
